*{font-family: Arial, Helvetica, sans-serif;text-transform: uppercase;}
:root{
    --cor1: #7181FB;
    --cor2: #263EFA;
    --cor3: #1E32C7;
    --cor4: #373F7A;
}
body{max-width: 1000px;min-height: 290px; display: block;margin: auto;background-color: var(--cor1);}
header{text-align: center;background-color: var(--cor4);color:aliceblue;padding: 15px 0px;font-size: 1.5em;text-shadow: 3px 3px 6px black;}
header>h1{font-size: 1.8em;}
header>h1 p nav{background-color: var(--cor4);}
nav{font-size: 1em;}
a{border-color: white;border: 1px; border-radius: 5px; border-style: solid;color: white;text-decoration: none;padding: 0px 15px; display: inline-block;}
a:hover{background-color:var(--cor1);}
main{text-align: justify;padding: 0px;margin: 0px;}
#sobre{background-color: var(--cor1); padding: 0px; text-indent: 20px;text-transform:uppercase;}
h1{text-align: center;padding: 10px 0px;color: aliceblue;}
#text1{display: flex;}
#foto{max-width: 50%;}
.divs{padding: 15px; text-align: left;}
li{padding: 10px 0px;}
#faz>section>h1{background-color: var(--cor3);margin: 0px;padding: 20px 0px;font-size: 1.5em;}
#tx2{display: flex;}
.projetos{background-color: var(--cor1);border: var(--cor4);border-style: inset;margin: 9px;width: 30%;text-align: center;}
footer{background-color: var(--cor4);color: white;text-align: center;}
footer>p{padding: 10px;margin: 0px;}