*{font-family: Arial, Helvetica, sans-serif;}
:root{--color1:#4BFA7A;
--color2:#00E03C;
--color3:#00AD2D;
--color4:#00611A;
--color5:#346140;}
body{background-image: url(matrix.jpg);  display: block; margin: auto;}
header{border: solid; color: white; border-radius: 20px;}
#cabeca{max-width: 1200px; min-width: 300px; display: block;margin: auto;}
main{max-width: 1000px; min-width: 300px; display: block;margin: auto;color: white;}
#nome{text-align: center;padding: 20px;}
.biografia>h2{border-top: solid;border-bottom: solid; padding:15px 10px;margin: 0px;color: white;text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.61);font-size: 2em;}
.biografia>p{text-align: justify;text-indent: 40px; padding: 20px;font-size: 1.8em;}
#links{font-size: 1.5em;}
.projetos>h2{text-align: center;border-top: white solid;border-bottom: white solid; padding: 15px 0px;color: white;text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.61);}